body{background-color: antiquewhite;






}
p1{
color:rgb(255, 0, 0);font-weight: 200; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: large;



}
p{
    color:rgb(136, 106, 57);font-weight: 300; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;




}


div{
max-width: 600px;



}
