body{
    background-color:rgb(226, 202, 123);
}
p1{
    color:rgb(92, 72, 39);
    font-weight: 200; 
    font-family: Fantasy, 'Papyrus', monospace;
}
p{
    color:rgb(92, 72, 39);
    font-weight: 300; 
    font-family: Fantasy, 'Papyrus', monospace;
}

div{
    max-width: 600px;
}



